<div class="row">
    <object width="100%" height="100%">
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="<%= src %>" width="100%" height="100%">
            <param name="scale" value="default" />
            <!--<![endif]-->
            <p>Please update your Flash Player</p>
            <!--[if !IE]>-->
        </object>
        <!--<![endif]-->
    </object>
</div>